* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Georgia, Arial;
}

body {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbUu2_anhnSQHEo5zAa03UrEsvxzca7OnAA&usqp=CAU.jpeg);
  padding-bottom: 25px;
  min-width: 300px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
  font-style: italic;
  padding-top: 10px;
}

header {
  margin: 1.5em 0;
}

form {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(41, 54, 73);
  font-size: 21px;
  padding: 20px 30px;
}

#name, #email, #number, #dropdown {
  margin-top: 10px;
  margin-bottom: 25px;
  display: block;
  width: 100%;
  height: 40px;
}

label {
  display: block;
  margin: 15px 0;
}

textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
}

fieldset {
  border: hidden;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 15px;
  display: inline;
}

::placeholder {
  color: rgb(97, 97, 97);
}

#dropdown, textarea {
  background-color: white;
  color: black;
}

#textarea {
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="submit"] {
  display: block;
  background-color: rgb(47, 171, 47);
  text-align: center;
  margin: 20px auto 10px auto;
  width: 100%;
  height: 40px;
  border: solid;
  border-radius: 7px;
}

.optional-low {
  font-size: 17px;
  margin-left: 5px;
  display: inline;
  font-style: italic;
}
